@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "PT Sans" !important;
}

.fat-text {
    font-family: "PT Sans Caption" !important;
    font-weight: 700 !important;
}

.text {
    font-size: 20px;
    font-family: "PT Sans";
}

.link {
    font-family: "PT Sans Caption" !important;
    font-weight: 700 !important;
    color: #FF6600;
}

h2 {
    font-family: "PT Sans Caption";
    font-size: 32px;
    color: #333333;
    font-weight: 700;
    margin: 100px 0 50px 0 !important;
}

@media (max-width: 1366px) {
    h2 {
        margin: 90px 0 30px 0 !important;
    }
}

@media (max-width: 768px) {
    h2 {
        margin: 70px 0 30px 0 !important;
        font-size: 24px !important;
    }
}

@media (max-width: 320px) {

}

/* marker */

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.dots {
    margin: 9px 5px 15px 5px;
    position: relative;
    padding-left: 1%;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 99;
    top: -0px;
    left: -10px;
}

.dots button {
    color: #fffae8;
    border: none;
    border-radius: 50%;
    position: relative;
    height: 12px;
    width: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.dots button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #999999;
    outline: none;
}

.dots li{
    list-style-type: none;
}

.dots li.slick-active button {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    visibility: visible;
    z-index: 99;
}


.dots li.slick-active button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #FF6600;
    outline: none;
}

/* header */

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header_content {
    position: relative;
    height: 84px;
    width: 100%;
    margin: 0;
}

.header_element {
    float: left;
    height: 84px;
}

.header_element ul {
    margin: 0;
}

.mane-nav {
    margin-left: 20px;
    width: 530px;
    display: block;
}

.mane-nav_element {
    margin: 0 2.5% 0 2.5%;
    float: left;
    font-size: 15px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    position: center;
    list-style-type: none;
    line-height: 84px;
    vertical-align: middle;
}

.header-link {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}

.registration-bottom {
    width: 160px;
    height: 48px;
    border-radius: 50px;
    border: none;
    background-color: #FF6600;
    color: #FFFFFF;
}

.logo {
    height: 61.69px;
    padding-top: 10px;
}

.search-bottom {
    margin-top: 2.1%;
    height: 17px;
}

.tel {
    margin: 0 0 0 3%;
    line-height: 84px;
    vertical-align: middle;
    color: #6F6F6F;
}

.container .entrance-registration {
    position: absolute;
    top: 0;
    padding-top: 20px;
    right: 0;
}

.entrance-image {
    line-height: 40px;
    padding-right: 10px;
}

.entrance {
    line-height: 45px;
    padding-right: 20px;
    font-family: 'PT Sans', Caption, sans-serif;
    font-size: 14px;
}

.search, .mobile-menu {
    display: none;
}

.entrance {
    color: #6F6F6F;
}

@media (max-width: 1199px) {

    .search-bottom {
        display: none;
    }

    .mobile-menu {
        position: relative;
        display: block;
        font-size: 30px;
        padding: 0 30px 0 30px;
        margin: 0;
        height: 64px;
        color: #6F6F6F;
        z-index: 1;
    }

    .mane-nav {
        position: absolute;
        right: 0;
        top: 84px;
        display: none;
        height: auto;
        width: auto;
        margin: 0;
        padding-right: 20px;
        z-index: 99;
        background-color: #FFFFFF;
        border: 1px solid #333333;
    }

    .mane-nav_element li p{
        height: 84px;
    }

    .mane-nav_element {
        padding: 0;
        float: left;
        color: #FFFFFF;
    }

    .logo {
        width: 62px;
        height: 41px;
    }
}

@media (max-width: 767px) {

    .mobile-menu {
        position: absolute;
        right: 20px;
        top: 5px;
        display: block;
        font-size: 30px;
        padding-left: 30px;
        padding-top: 0;
        margin: 0;
        height: 64px;
        color: #6F6F6F;
        z-index: 1;
    }

    .header {
        border-bottom: none;
    }

    .logo {
        width: 70px;
        height: 46px;
    }

    .entrance-image {
        display: none;
    }

    .tel {
        margin-top: 20px;
        height: auto;
        line-height: normal;
    }

    .entrance-registration {
        height: auto;
        margin-top: 10px;
        top: 20px;
        left: 95px;
    }

    .entrance {
        color: #333333;
    }

    .registration-bottom {
        padding: 10px 0 0 0;
        top: 5px;
        width: auto;
        height: auto;
        color: #FF6600;
        background-color: transparent;
        font-size: 14px;
    }

}

/* section */
.section {
    max-width: 1200px;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
}

.section h3 {
    margin: 7% 0 30px 0;
}

.section_content {
    width: 100%;
    margin: 0;
}

/* payroll-management */

.payroll-management {
    display: block;
    position: relative;
    padding-top: 9%;
}

.payroll-management_element {
    padding: 0;
    display: block;
    width: 50%;
    margin: 0;
}

.payroll-management_element h1{
    font-size: 40px;
    font-family: "PT Sans Caption";
}

.payroll-management_element h2{
    padding: 20px 0 30px 0;
    margin: 0 !important;
    color: #FF6600;
    font-size: 32px;
    font-family: "PT Sans Caption";
}

.payroll-management_element input{
    margin: 20px 0 15px 5px;
    width: 288px;
    height: 48px;
    border-radius: 50px;
    border: none;
    background-color: #FF6600;
    color: #FFFFFF;
}

.payroll-management_element p {
    padding: 0 70px 0 0;
}

.text {
    font-size: 20px;
    font-family: "PT Sans";
}

.postscript {
    color: #999999;
    font-size: 16px;
}

.payroll-management_image {
    position: relative;
}

.payroll-management_image svg{
    position: absolute;
    top: 60px;
    right: -10px;
}

@media (max-width: 1366px) {
    .payroll-management_image svg{
        width: 397.29px;
        height: 252px;
    }
}

@media (max-width: 995px) {

    .payroll-management {
        padding-top: 6%;
    }

    .payroll-management_info {
        padding-right: 0!important;
    }

    .payroll-management_image {
        display: none;
    }

    .payroll-management_element h1 {
        font-size: 24px;
        padding-top: 0;
        margin: 20px 0 10px 0;
    }

    .payroll-management_element h2 {
        font-size: 24px !important;
        padding: 16px 0 20px 0 !important;
    }

    .payroll-management_element input{
        height: 40px;
    }

    .payroll-management_info p {
        padding: 0;
    }
}

@media (max-width: 510px) {

    .payroll-management_element h1 {
        padding-top: 0;
        margin: 0 0 8px 0;
    }

    .mobile-menu {
        padding-right: 0;
    }

    .payroll-management_element input{
        height: 48px;
    }
}

/* key-features */

.key-features {
    display: block;
    position: relative;
    margin-right: -20px;
}

.key-features li::after {
    width: 20px;
    height: 20px;
}

.key-features li {
    list-style-type: none;
}
.key-features ul {
    padding-left: 10px;
}

.key-features ul li p {
    padding-left: 0;
}

.jackdaw {
    float: left;
    padding-right: 25px;
}

@media (max-width: 768px) {
    .jackdaw {
        padding-bottom: 20px;
    }
}

/* rental-benefits */

.rental-benefits_element{
    position: relative;
    padding: 0 5px 0 5px;
}

.rental-benefits_wrapper {
    position: relative;
    height: 140px;
    padding: 40px 40px 40px 40px;
    margin: 4% 1% 4% 1%;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}

.rental-benefits_image {
    float: left;
    padding-right: 10px;
}

.rental-benefits_text {
    position: relative;
    height: 60px;
    padding-top: 5px;
    font-size: 18px;
}

.rental-benefits_text p {
    margin: 0;
}

.text-link {
    text-decoration: none;
    color: #333333;
}

.rental-benefits_link {
    font-size: 14px;
    text-decoration: none;
    color: #FF6600;
    font-family: "PT Sans Caption";
}

@media (max-width: 1366px) {

    .rental-benefits_element{
        position: relative;
        padding: 0 6px 0 10px !important;
    }

    .rental-benefits_image svg {
        height: 40px;
        width: 40px;
    }

    .rental-benefits_text {
        font-size: 16px;
    }
}

@media (max-width: 1199px) {

    .rental-benefits_element{
        position: relative;
        padding: 0 4px 0 10px !important;
    }

    .rental-benefits_wrapper {
        padding: 20px 40px 40px 20px;
        height: 100px;
    }

    .rental-benefits_text {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .rental-benefits_element{
        position: relative;
        padding: 0 0px 0 10px !important;
    }
}

@media (max-width: 348px) {
    .rental-benefits_wrapper {
        padding: 20px 20px 40px 20px;
        height: 100px;
    }
}

/* menu-text */

.menu-text {
    margin: 35px 0 35px 0;
    width: 100%;
    /*white-space: nowrap;*/
    overflow-x: scroll;
}

.menu-text_radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.menu-text .menu-text_submit {
    margin: 0 0 10px 20px;
    padding: 10px 24px 25px 24px;
    height: 48px;
    border: 2px solid #EAEAEA;
    border-radius: 50px;
    cursor: pointer;
}

.menu-text label:first-child {
    border: 2px solid #FF6600;
}

/* text */

.text .text_element {
    display: none;
}

.text .text_element:first-child {
    display: flex;
}

.text_element div h4 {
    margin-bottom: 30px;
}

.tab-list {
    padding-left: 0;
    padding-top: 0;
}

.list_element {
    list-style-type: none;
}

.jackdaw-list {
    padding-right: 25px;
    float: left;
}

@media (max-width: 991px) {
    .text_title {
        margin-top: 35px;
    }
}

/* tab_nav */

.tab_nav {
    font-family: "PT Sans Caption", Arial;
    margin: 40px 0 55px 0;
}

.tab_nav ul {
    padding: 0;
    margin: 0;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

.tab_nav ul li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    border: 2px solid #EAEAEA;
    border-radius: 50px;
    white-space: nowrap;
    padding: 13px 35px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 24px;
    height: 48px;
    box-sizing: border-box;
}

.tab_nav ul li:last-child {
    margin-right: 0;
}

.tab_nav ul li.action {
    border: 1px solid #FF6600;
    color: #FF6600;
}

/* tabs-content */

.tabs_content div.tabs-content_element {
    display: none;
}
.tabs_content div.action {
    display: flex;
}

.tabs-content_element div h4 {
    margin-bottom: 30px;
}

.list {
    padding-left: 0;
    padding-top: 0;
}

.list_element {
    list-style-type: none;
}

.jackdaw-list {
    padding-right: 25px;
    float: left;
}

@media (max-width: 991px) {
    .text_title {
        margin-top: 35px;
    }
}

/* comparison-table */

.comparison-table {
    position: relative;
    height: auto;
    width: auto;
    -webkit-box-shadow: 0px 0px 21px 1px rgba(51, 51, 51, 0.2);
    -moz-box-shadow: 0px 0px 21px 1px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 21px 1px rgba(51, 51, 51, 0.2);
}

.comparison-table_wrapper-for-comparison-table {

}

.comparison-table_wrapper {
    border-bottom: 2px solid #EAEAEA;
}

#hearer-table {
    border-bottom: none;
}

.comparison-table_element h4{
    padding: 45px 0 20px 0;
}

.comparison-table_element p {
    padding-top: 3%;
    padding-bottom: 1%;
    height: 50px;
}

.comparison-table_element:last-child{
    padding-top: 5px;
    height: 70px;
    line-height: 70px;
}

.colon1 h4, .colon1 p{
    padding-left: 60px;
}

.colon2 h4 {
    text-align: center;
    padding-right: 50px;
}

.colon2 p{
    text-align: center;
}

.colon2 p svg {
    margin-right: 53px;
    margin-bottom: 40px;
}

.comparison-table_mobil {
    display: none;
}

.comparison-table_title_mobile-table {
    display: none;
    font-size: 16px;
}

.comparison-table_title {
    margin-bottom: 40px !important;
}


@media (max-width: 767px) {

    .comparison-table {
        display: none;
    }

    .comparison-table_mobil {
        display: block;
    }



    .comparison-table_inputs {
        margin-left: 37%;
        margin-right: 37%;
        width: 100%;
    }

    .comparison-table_radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .comparison-table_inputs .comparison-table_submit {
        margin-right: 20px;
        padding: 5px 5px 5px 5px;
        height: 12px;
        width: 12px;
        background-color: #999999;
        border-radius: 50px;
        cursor: pointer;
    }

    .comparison-table_inputs label:first-child {
        background-color: #FF6600;
    }

    .comparison-table_mobil_title {
        display: none;
    }

    .comparison-table_mobil_title:first-child {
        display: block;
    }

    .comparison-table_mobil_prof {
        display: none;
    }

    .comparison-table_mobil_prof:first-child {
        display: block;
    }

    .comparison-table_mobil_corp {
        display: none;
    }

    .comparison-table_mobil_corp:first-child {
        display: block;
    }

    .comparison-table_mobil_wrapper h5, .comparison-table_mobil_prof, .comparison-table_mobil_corp {
        text-align: center !important;
        font-size: 16px;
    }

    .comparison-table_mobil_wrapper h5:first-child {
        text-align: left !important;
    }

    .comparison-table_mobil_title {
        font-size: 16px;
        padding: 15px 30px 0 30px;
    }

    .comparison-table_mobil_wrapper h5:first-child {
        padding: 15px 30px 0 30px;
    }

    .delimiter-mini {
        width: 100%;
        height: 1px;
        margin: 30px 0 25px 0;
        padding: 0 !important;
        border: 1px solid #EAEAEA;
    }

    .comparison-table_mobil_wrapper {
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 46px 0px rgba(34, 60, 80, 0.1);
        -moz-box-shadow: 0px 0px 46px 0px rgba(34, 60, 80, 0.1);
        box-shadow: 0px 0px 46px 0px rgba(34, 60, 80, 0.1);
        margin: 16px 16px 16px 0;
        padding: 20px 0 25px 0;
        height: auto;
        width: auto;
    }

    .comparison-table_title {
        display: none;
    }

    .comparison-table_title_mobile-table {
        display: block;
        margin-bottom: 24px !important;
    }

}

@media (max-width: 370px) {
    .comparison-table_inputs {
        margin-left: 27%;
        margin-right: 27%;
        width: 100%;
    }
}

/* gallery */

.gallery {
    height: 503px;
    margin-bottom: 150px;
}


.gallery_element {
    height: 503px;
    width: 775px;
    right: -255px;
}

.gallery_element {
    position: relative;
    text-align: center;
    display: block;
    justify-content: center;
    z-index: 99;
}

.gallery_element-image img {
    height: 502px;
    width: auto;
}

.gallery_element img {
    display: none;
}

.gallery_element img:first-child {
    display: block;
}

.gallery_element-input {
    top: -30px;
}

@media (max-width: 1399px) {
    #arrow_left {
        right: -70px !important;
    }

    #arrow_right {
        right: -895px !important;
    }

    .gallery_element-inputs {
        margin: 0px 60px 35px -25px;
        width: 100%;
        right: -20px;
        top: -170px;
    }
}

@media (max-width: 1399px) {
    .gallery_element {
        right: -180px;
    }

    #arrow_left {
        right: -120px !important;
    }

    #arrow_right {
        right: -865px !important;
    }
}

@media (max-width: 1365px) {
    .gallery {
        display: none;
    }
}

@media (max-width: 767px) {
    .gallery {
        display: none;
    }
}


/* form */

.form {
    margin-top: 50px;
}

.arrow {
    display: block;
    position: relative;
    background-color: #FF6600;
    height: 80px;
    width: 140px;
    border-radius: 50px;
}

.previous {
    float: left;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 20px 26px 21px 26px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index: 99;
    top: 21px
}
.next {
    padding-left: 29px;
    right: 0px;
    border-radius: 0 50px 50px 0;
}

.previous {
    padding-right: 31px;
    right: 43px;
    border-radius: 50px 0 0 50px;
}

.previous:hover,
.next:hover {
    background-color: #E2E2E2;
}

.galery_element-image .galery_image svg {
    z-index: 2;
}

.title_form {
    float: left;
}


.highlighter {
    color: #FF6600;
}

#arrow_left {
    position: relative;
    top: -310px;
    right: -195px;
}

#arrow_right {
    position: relative;
    top: -390px;
    right: -940px;
}

.form p {
    padding: 5px 0 0 0;
    color: #6F6F6F;
    font-size: 14px;
}

.form_form_element {
    float: left;
}

.form_form_element:last-child {
    float: none;
    margin-right: 0;
}

.form_form_element input {
    width: 384px;
    height: 64px;
    margin-right: 20px;
    border: 1px solid #B6B6B6;
    border-radius: 5px;
}

.form_wrapper-for-button{
    float: left;
    width: 319px;
    height: 48px;
    margin-right: 2%;
}

.form_button {
    width: 319px;
    height: 48px;
    border: none;
    color: #FFFFFF;
    background-color: #FF6600;
    border-radius: 50px;
    float: left;
}

.form_text {
    position: relative;
    margin-left: 370px;
    font-size: 12px;
    top: 0;
}

.wrapper-for-14-free-days {
    display: block;
    margin-top: 33px;
}

.form_form_element input {
    font-size: 18px;
}



@media (max-width: 1399px) {
    .form_form_element input {
        width: 314px !important;
        height: 56px;
    }
}

@media (max-width: 1365px) {
    .form_form_element {
        height: 40px;
        margin-right: 0;
        margin-bottom: 15px;
        float: none;
    }

    .form_form_element {
        height: 56px;
        margin-bottom: 10px;
    }

    .form_form_element:last-child {
        margin-bottom: 5px;
    }

    .form_form_element input {
        width: 100% !important;
        height: 56px;
    }

    .form_form_element input {
        width: 314px;
    }

    .form_form_element input:last-child {
        margin-bottom: 0;
    }

    .form_form_element:last-child {
        float: none;
    }
}

@media (max-width: 1199px) {
    .your_interes_title_image svg {
        width: 43px;
        height: 40.88px;
    }

    .form_text {
        position: relative;
        top: -10px;
    }
}

@media (max-width: 760px) {
    .form_button {
        width: 288px;
        height: 40px;
        float: none;
    }

    .form_wrapper-for-button{
        float: none;
    }

    .form_text {
        margin-left: 0;
    }

    .form_text {
        position: relative;
        top: 0;
    }
}

/* list */

.list ul {
    padding-left: 10px !important;
 }

.list li {
    list-style-type: none;
    padding: 0;
}

@media (max-width: 767px) {
    .list {
        display: none;
    }

    .title-for-list {
        display: none;
    }
}

/* dignity */

.dignity_part-title {
    color: #178A00;
}

.dignity_element div p {
    padding: 0;
}

.dignity_image {
    padding-left: 60px !important;
}

@media (max-width: 767px) {
    .container-link {
        display: none;
    }

    .dignity_element div p, .dignity_element div h3 {
        text-align: center;
    }
}

@media (max-width: 520px) {
    .dignity_image {
        padding-left: 0 !important;
    }

    .dignity_image svg {
        width: 298.37px;
        height: 214.09px;
    }
}

/* your_interes */

.your_interes_wrapper {
    padding-right: 50px !important;
}

.your_interes_wrapper_1 {
    padding-right: 70px !important;
}

.your_interes_wrapper_2 {
    padding-right: 60px !important;
}

.your_interes_wrapper_3 {
    padding-left: 45px !important;
}

.last {
    padding-left: 45px !important;
}

.your_interes_title{
    height: 70px;
}

.your_interes_title_image{
    padding-right: 40px;
    margin: 0;
    float: left;
    padding-left: 0;
}

.your_interes_text {
    font-size: 16px;
    padding-right: 40px;
    padding-left: 0;
}

.your_interes_wrapper a {
    display: none;
}

.md-links-first-2-blocks {
    display: none;
}

.your_interes_text {
    font-family: "PT Sans";
    font-size: 16px !important;
    line-height: 24px;
    padding-right: 14px;
}

.fat-text {
    font-family: "PT Sans Caption" !important;
    font-weight: 700 !important;
}

.your_interes_header {
    font-family: "PT Sans Caption";
    font-weight: 700;
    font-size: 18px !important;
    line-height: 23.29px;
}

.wrapper-for-links .orig {
    padding-left: 20px;
}

.wrapper-for-links .orig:first-child {
    padding-left: 0;
}

@media (max-width: 1399px) {
    .your_interes_wrapper_2 .your_interes_text {
        /*padding-right: 23px !important;*/
    }

    .your_interes_wrapper_2 .your_interes_title {

    }
}

@media (max-width: 1366px) {
    .your_interes_wrapper {
        padding: 0 20px 0 0  !important;
    }

    .your_interes_wrapper_1 {
        padding: 0 40px 0 0 !important;
    }
    .last {
        padding-left: 0 !important;
    }
}

@media (max-width: 990px) {
    .your_interes_title{
        font-size: 16px;
        padding-right: 0;
    }

    .your_interes_text {
        padding-right: 0;
    }

    #link_3 {
        display: block;
    }

    .wrapper-for-links .orig {
        display: none;
    }

    .md-links-first-2-blocks {
        display: block;
        margin-bottom: 30px;
    }
}

@media (max-width: 760px) {
    .your_interes_wrapper a {
        display: block;
        margin-bottom: 20px;
    }

    #link_1, #link_2 {
        display: block;
    }

    .md-links-first-2-blocks {
        display: none;
    }
}

/* delimiter */

.delimiter {
    width: 100%;
    height: 1px;
    margin: 142px 0 64px 0;
    padding: 0 !important;
    border: 1px solid #C0C0C0;
}

@media (min-width: 1367px) {
    .delimiter {
        border: none;
        margin: 84px 0 84px 0;
    }
}

@media (max-width: 768px) {
    .delimiter {
        margin: 66px 0 58px 0;
    }
}

@media (max-width: 566px) {
    .delimiter {
        margin: 41px 0 41px 0;
    }
}

/* info-strings */

#info-strings_text-2, #info-strings_text-3, #info-strings_text-4 {
    padding-left: 50px;
    font-family: "PT Sans";
}

#info-strings_title-2, #info-strings_title-3, #info-strings_title-4 {
    padding-left: 50px;
}

#info-strings_text-2, #info-strings_text-3 {
    padding-right: 20px;
}

#info-strings_title-1, #info-strings_title-2, #info-strings_title-3, #info-strings_title-4 {
    margin-bottom: 20px;
}

.info-strings_element:first-child {
    padding-left: 10px;
}

#info-strings_text-1 {
    padding-left: 10px;
    padding-right: 30px;
    font-family: "PT Sans";
}

#info-strings_title-3 {
    padding-left: 65px;
}

#info-strings_text-3 {
    padding-left: 70px;
    padding-right: 0;
}

.info-strings_duplicate {
    display: none;
    font-size: 14px;
    padding: 0 !important;
}

.info-strings_duplicate h6 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
}

.info-strings_duplicate h6 i {
    transform: rotate(180deg);
}

.duplicate-3 h6, .duplicate-4 h6 {
    text-align: right;
}

.duplicate-2 h6 {
    right: -50px;
}

.info-strings_text {
    padding: 0;
    margin: 5px;
    font-size: 16px;
}

.container-links {
    margin-top: 20px;
}

.container-link {
    color: #FF6600;
}

.container-link_arrow {
    color: #FF6600;
    font-size: 10px;
    font-family: "PT Sans Caption";
}

.info-strings_float {
    float: left;
    color: #FF6600;
    font-size: 14px;
}

.container-links {
    width: auto;
}

@media (max-width: 1366px) {
    #info-strings_text-2 {
        padding-right: 0;
    }
}

@media (max-width: 996px) {

    .duplicate-2 h6{
        padding-left: 50px;
        white-space: nowrap;
    }

    .info-strings_element {
        display: none;
    }

    .info-strings_duplicate {
        display: flex;
        text-align: center;
        height: auto;
        float: none;
    }

    #info-strings_text-1, #info-strings_text-2, #info-strings_text-3, #info-strings_text-4, .container-links {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
}

@media (max-width: 767px) {
    .info-strings_duplicate h6 {
        text-align: center !important;
    }

    .duplicate-2 h6{
        padding-left: 0;
    }

}

/* footer-info */

.footer-info {
    margin-top: 100px;
    margin-bottom: 15px;
}

.section_footer-info_element {
    float: left;
}

.section_footer-info_element:last-child {
    float: none;
}

#wrapper_footer-info_1 {
    float: left;
}

.logo-footer {
    position: relative;
    top: -15px;
}

.contact-info {
    padding-left: 100px;
    position: relative;
    top: -30px;
    float: none;
}

.contact-info div {
    width: 325.63px;
    padding-top: 14px;
}

.contact-info_tel-1 {
    float: left;
}

.footer-info_image_1, .footer-info_image_2 {
    float: left;
}

.section_footer-info_element p {
    font-size: 16px;
}

.footer-info_image_1 {
    margin-left: 10px;
}

.footer-info_element1 {
    left: 60px;
    padding-left: 30px !important;
    position: relative;
    top: 5px;
}

.footer-info_element2 {
    position: relative;
    top: -11px;
    left: 100px !important;
}

h5 {
    font-size: 18px !important;
}

#apple {
    padding: 15px 0 0 0 !important;
}

#googl svg{
    position: relative;
    left: -6.85px;
}

.contact-info_tel-2 {
    white-space: nowrap;
}

#wrapper_footer-info_2 {
    height: auto;
    width: auto;
}

@media (max-width: 1399px) {
    .footer-info {
        margin-top: 50px;
    }

    #googl{
        display: none;
    }

    #apple {
        position: relative;
        left: -40px;
    }

    .contact-info_tel-1 {
        float: none;
    }

    .contact-info_tel-2 {
        display: none;
    }

    .footer-info_element1 {
        padding-left: 1% !important;
    }

    .footer-info_image_1 {
        padding-right: 5px;
        margin: 0;
    }

    .footer-info_image_1:last-child {
        padding-right: 0;
    }

    #apple svg {
        width: 145.63px;
        height: 47.03px;
    }

    .footer-info_image_1 svg {
        width: 48.5px;
        height: 48.5px;
    }
}

@media (max-width: 991px) {

    #apple svg {
        width: 155.76px;
        height: 50.61px;
    }

    .footer-info_image_1 svg {
        width: 52px;
        height: 52px;
    }

    #apple {
        left: 25px;
    }

    #googl {
        left: 50px;
    }

    .footer-info_element1 {
        float: left;
        left: -110px;
        top: -40px
    }

    .footer-info_element2 {
        padding-left: 30px;
        left: -200px !important;
        top: -30px
    }

    .wrapper_footer-info_1 {
        right: -50px !important;
    }

    #wrapper_footer-info_1 {
        width: 100%;
    }

    .contact-info {
        width: 100%;
        text-align: right;
    }

    .logo-footer svg {
        bottom: -40px !important;
    }

    #wrapper_footer-info_2 nav {
        width: auto;
        padding: 25px 15% 20px 15% !important;
        margin: 0;
    }

    .logo-footer svg {
        width: 78px;
        height: 51px;
    }
    .logo-footer {
        position: relative;
        top: 0 !important;
    }
}

@media (max-width: 767px) {
    .logo-footer {
        float: none;
        width: 100%;
        text-align: center;
        top: -45px !important;
    }

    .contact-info {
        float: none;
        padding-left: 0;
        margin: 0 !important;
        width: 100%;
        text-align: center;
    }

    .footer-info_image_1 svg {
        width: 45.09px;
        height: 45.09px;
    }

    .footer-info_element2 {
        display: block;
        padding: 0;
        height: auto;
        width: 100%;
    }

    #apple {
        display: none;
    }

    #googl {
        position: relative;
        display: block;
        left: -125px;
        top: 10px;
        width: 100% !important;
    }

    .footer-info_element2 {
        width: 100% !important;
        padding: 26.58px 39% 0 39% !important

    }

    .footer-info_element1 {
        width: auto !important;
        float: none;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

/* footer */

.footer {
    position: relative;
    width: 100%;
}

.footer_content {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.footer_content_element {
    width: 100%;
    background-color: #F4F4F4;
}

.footer_content_element p {
    line-height: 64px;
    vertical-align: middle;
    margin: 0;
}

.footer-link {
    color: #333333;
    cursor: pointer;
}

@media (max-width: 767px) {
    .footer_content_element {
        height: 48px;
    }

    .footer_content_element p {
        line-height: 48px;
        vertical-align: middle;
        margin: 0;
    }

    .footer-element1 {
        display: none;
    }
}